
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #20202D;
  margin: 0;
  color: white;
}
.container {
  width: 89%;
  max-width: 945px;
  margin: auto;
}
.section {
  padding-top: 100px;
  background: linear-gradient(0deg, #000000 0.08%, rgba(0, 0, 0, 0) 95.04%);
}
.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.hero {
  height: 100vh;
  padding-top: 50px;
  background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.socials__icon {
  margin-left: 20px;
  transition-duration: .4s;
  text-decoration: none;
  display: inline-block;
}
.socials__icon:first-child {
  margin-left: 0;
}
.socials__icon svg {
  width: 18px;
  height: 18px; 
  fill:#fff;
}
.socials__icon:hover svg,
.socials__icon:focus svg  {
  fill: #0384fd;
  stroke: none;
  transition-duration: .5s;
}
.socials__icon--fb:hover svg,
.socials__icon--fb:focus svg  {
  fill: #3b5998;
  stroke: none;
  transition-duration: .5s;
}
.socials__icon--git:hover svg,
.socials__icon--git:focus svg  {
  fill: #79389e;
  stroke: none;
  transition-duration: .5s;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color:#e6b488;
  margin-bottom: 14px;
}
.hero-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}
.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px; 
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 5px 0px #B68500;
  border: none;
  /* outline: none; */
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #2E2E30;
  text-transform: uppercase;
  transition: all .5s;
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.button:hover {
  top: 2px;
  box-shadow: 0px 4px 0px #7c5b00;
  background: linear-gradient(180deg, #fae5a0 0%, #b3923a 85%);
  transition: all .5s;
  
}
.hero-avatar {
  width: 270px;
  height: 270px;
  background-color: white;
  border-radius: 50%;
  background-image: url('../img/avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #e6b488;
}
.hero-content__arrow {
  display: block;
  text-decoration: none;
  width: 38px;
  height: 38px;
  border: 1px #e6b488 solid;
  border-radius: 50%;
  opacity: 0.702;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 5;
  outline: none;
  margin-top: 30px;
  margin-left: -20px;
  transition: all .5s;
  -webkit-animation: arrow 2s infinite ease;
  animation: arrow 2s infinite ease;
}
.hero-content__arrow::after {
      content: '';
      background: transparent;
      border-right: 1px solid #e6b488;
      border-bottom: 1px solid #e6b488;
      display: block;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 14px;
      left: 16px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 5;
  }
.hero-content__arrow:hover {
    background: linear-gradient( 45deg, rgba(134, 134, 91, 0.692) 0%, rgba(160, 151, 110, 0.555) 100%);
    border-right: 2px solid #e99f5f;
    border-bottom: 2px solid #e99f5f;
    transition: all .5s;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
    /* -----------------features----------------------- */
.features {
  background-color: #000;
}
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts-text {
  flex-basis: 50%;
}
.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.features-image {
  display: block;
  margin-bottom: 22px;
}
.features-title {
  min-height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}
.features-text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
    /*------------------- projecrts-------------------- */
.project {
background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
scroll-behavior: smooth;
}
.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.projects-slide a {
  display: flex;
  height: 100%;
  width: 100%;
  flex-basis: 50%;
  margin-right: 20px;
}
.border-pic {
  border-radius: 8px;
  max-width: 100%;
}
.project-text {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}
.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;  
  margin: 0;
  margin-bottom: 41px;
}
.project-time, .project-cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}
.project-time, .project-cost, .project-feedback {
  display: flex;
  align-items: flex-start;
}
.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.project-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}
.project-icon {
  margin-right: 16px;
}
.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}
.projects-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #FFBB01;
  border-radius : 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.projects-bullet-active {
  background-color: #FFBB01;
}


/* contacts */
.contacts-form {
  max-width: 380px;
  height: 410px;
  padding: 40px 48px 48px 49px;
  background: #FFFFFF;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  position: relative;
}
.contacts-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 79, 78, 0.452) url('../img/loading.gif') center /50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.contacts-form._sending::after {
  opacity: 1;
  visibility: visible;
}
form * {
  outline: none;
}
.form-title {  
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}
.input {
  background: #F8F8F8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  color: #949494;
  transition: all 0.5s ease 0s;
}
.input:focus {
  box-shadow: 0 0 15px #7a956b;
}
.input._error {
  box-shadow: 0 0 15px #da421c;
}
.input-name {
  margin-bottom: 17px;
  background-image: url('../img/user-icon.svg');
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.input-mail {
  margin-bottom: 17px;
  background-image: url('../img/email-icon.svg');
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.form-button {
  width: 100%;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;

}
.contacts-phone, .contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacts-social {
  flex-basis: 100%;

}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #A5A5A5;
  margin-top: 72px;
}
/* responsive */
@media(max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}
@media(max-width: 836px) {
  .hero-header {
    margin-bottom: 40px;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
  }
  .hero-avatar {
    order: 0;
    width: 290px;
    height: 290px;
    border-width: 4px;
    margin-bottom: 17px;
  }
  .hero-text {
    order: 1;
    text-align: center;
  }
  .features {
    padding-top: 300px;
  }
  .features-text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-title {
    text-align: center;
  }
  .features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
  }
  /* features-item img {
    text-align: center;
  } */
  .projects-slide {
    flex-direction: column;
  }
  .project-image {
    margin-bottom: 46px;
  }
  .contacts-block {
    flex-direction: column;
  }
  .contacts-form {
    margin-bottom: 58px;
  }
}
@media (max-width: 564px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero-avatar {
    width: 113px;
    height: 113px;
    border-width: 2px;
    background-size: 130%;
    background-position: center top;
    margin-left: 15px;
  }
  .hero-header{
    margin-bottom: 38px;
  }
  .social-link {
    margin-left: 17px;
  }
  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hero-title {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-subtitle {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 4px;
  }
  .hero-description {
    font-size: 14px;
    line-height: 140%;
  }
  .section {
    padding: 60px  0;
  }
  .section-title {
    text-align: center;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .features-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .features-title {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .features-text {
    font-size: 14px;
    line-height: 28px;
  }
  .projects-slide a {
    margin-right: 0;
  }
  .project-title {
    font-size: 18px;
    line-height: 150%;
  }
  .project-time, 
  .project-cost, 
  .project-feedback{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .project-paragraph {
    font-size: 14px;
  }
  .border-pic {
    max-width: 100%;
    max-height: 100%;
  }
  .contacts-form {
    padding: 40px 19px; 
    margin-bottom: 30px;
  }
  .form-title {
    font-size: 15px;
    line-height: 140%;
  }
  .form-button {
    font-size: 10px;
    line-height: 15px;
  }
  .button {
    padding: 20px 15px;
  }
  .contacts-phone, 
  .contats-mail {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-link {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 13px;
  }
}
